<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      About Page
    </ion-title>

  </ion-navbar>
</ion-header>
<ion-content padding>
  {{res}}
</ion-content>
