page-login {

}
.button-block {
    margin-left: 20% !important;
    align-content: center;
    align-items: center;
    margin-top: 20px;
    width: 60%!important;
}
.button-inner {
    align-items: center !important;
    justify-content: center !important;
    text-decoration: none;
}
ion-input{
  margin-top: 10px;
}
.button{
  width: 85%;
  margin-left: 10%;
}
h1{
  margin-top: 60px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;

}
img{
  width: 50% !important;
height: 20% !important;
  align-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20%;
}
p{
  text-decoration: underline;
}
.toolbar-title-md {
    text-align: center;
    color: #424242;
}
