<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <h1>Welcome to Hotel Paradise</h1>
    <img src="/assets/imgs/logo.png" />

  <form (ngSubmit)="loginform()">
    <ion-item>

      <ion-input type="email" [(ngModel)]='login.email' placeholder="Email" name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" [(ngModel)]='login.pass' placeholder="Password" name="pass"></ion-input>
    </ion-item>

    <p text-right>Forgot Password?</p>

    <button ion-button type="submit" expand="full" color="primary">Login</button>
  </form>
  <p text-center>Don't have an account yet?</p>
  <button ion-button expand="full" color="danger" (click)="registerModel()">Register</button>
</ion-content>
