<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <h1>Welcome to Hotel Paradise</h1>
    <img src="/assets/imgs/logo.png" />

  <form (ngSubmit)="registerForm()" method="post">
    <ion-item>

      <ion-input type="text" [(ngModel)]='register.uname' required="required" placeholder="Username" name="username"></ion-input>
    </ion-item>

    <ion-item>

      <ion-input type="password" [(ngModel)]='register.pass'maxlength="9" data-password-toggle="true" required="required" placeholder="Password" name="password"></ion-input>
    </ion-item>

    <button ion-button type="submit" expand="full" (click)="onSubmit()" color="primary">Register</button>
  </form>
  <p text-center>Have an account? Please</p>
  <button ion-button expand="full" color="danger" (click)="LoginModal()">Login</button>
</ion-content>
