<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>

        <ion-card-title>Welcome to Hotel Paradise</ion-card-title>
      </ion-card-header>

        <img src="/assets/imgs/logo.png" />

    </ion-card>
    <!-- List of Text Items-->
  <ion-list>
    <ion-list-header>Dishes</ion-list-header>
    <!--
      <ion-item>Soups</ion-item>
      <ion-item>Noodles</ion-item>
      -->
      <ion-item>Pizza</ion-item>
      <ion-item>Chicken</ion-item>

    <ion-list-header>Soup</ion-list-header>
      <ion-item>Vegetable soup</ion-item>
        <ion-item>Tomato soup</ion-item>

      <ion-list-header>Noodles</ion-list-header>
      <ion-item>Egg noodles</ion-item>
        <ion-item> Chicken noodles</ion-item>

  </ion-list>
</ion-content>
