.welcome-card ion-img{
  max-height: 20vh;
  overflow: hidden;
  width:50%;
}
ion-img{
margin-left: 20%

}
ion-list-header{
  text-decoration: none;
  font-style: normal;
}
ion-card-title{
  font-size: 10px;
  text-align: center;
}
.card-title-md {
    font-size:20px !important;
     line-height: 1.2;
     color: #222;
     margin: 2px 0;
     padding: 8px 0;
}
.button-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: left;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: left;
    width: 100%;
    height: 100%;
}
