<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Hotel Paradise</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <ion-list>
        <ion-item><button ion-button (click)="goHome()" class='itemz'>Home</button></ion-item>
        <ion-item><button ion-button (click)="goAbout()" class='itemz'>About Us</button></ion-item>
          <ion-item><button ion-button (click)="goContactUs()" class='itemz'>Contact us</button></ion-item>
            <ion-item><button ion-button (click)="LogOut()" class='itemz'>Logout</button></ion-item>
      </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus --
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
-->
